<div class="table-data">
    <span>
        @Team.Locale
    </span>
</div>
<div class="table-data">
    <span>
        @Team.Name
    </span>
</div>
<div class="table-data">
    <span>
        @Team.Abrev
    </span>
</div>
<div class="table-data">
    <span>
        @Team.Division
    </span>
</div>