@if (EnableEdit)
{
    <div class="table-row">
        <TeamListDisplay Team=Team />
        <div class="table-data">
            <InputCheckbox @bind-Value=ShowEditForm @onclick=ToggleShowEditForm></InputCheckbox>
        </div>
    </div>
}
else
{
    <div class="table-row">
        <button type="button" class="team-list-button" @onclick=SelectTeamDetails>
            <TeamListDisplay Team=Team />
        </button>
    </div>
}
@if (ShowEditForm)
{
    <div class="table-data">
        <span>
            @Team.Id
        </span>
    </div>
    <div class="table-row">
        <AddTeamForm InitData=Team
                     SubmitNewTeamData=SubmitEdit />
    </div>
    <button type="button" class="btn-cancel" @onclick=CancelEditTeam>Cancel</button>
}