<div class="modal">
    <div class="modal-header">
        Heading
    </div>
    <div class="modal-body">
        content
    </div>
    <div class="modal-footer">
        footer
    </div>
</div>

@code {

}
